# Proyecto 1

## Importacion de librerias, descarga de stopwords y funcion para tokenizar

In [1]:
import string

import numpy as np
import pandas as pd

import nltk
from nltk.corpus import stopwords
from nltk.tokenize import TweetTokenizer

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

from sklearn.ensemble import RandomForestClassifier

from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV

from sklearn.metrics import ConfusionMatrixDisplay, precision_score, recall_score, f1_score

In [2]:
nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /home/alex/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
def tokenizer(text):
    tt = TweetTokenizer()
    return tt.tokenize(text)

## Importacion de datos de entrenamiento

In [5]:
df = pd.read_csv('./data/reviews_train_val.csv')

In [6]:
df.shape

(314562, 2)

In [7]:
df.head()

                                                text  stars
0  Tried out the Sushi Bar for the first time las...      4
1  It is a PA store which is a problem for good w...      1
2  Great cigar shop. Good selection with a very h...      4
3  Had a BLAST! It's a little disorganized in the...      5
4  Why does this nail salon still exist. Welp, be...      1

In [8]:
df['stars'].value_counts()

5    145748
4     64891
1     48453
3     30928
2     24542
Name: stars, dtype: int64

## Importacion de datos de prueba

In [9]:
df_test = pd.read_csv('./data/reviews_test_no_labels.csv')

In [10]:
df_test.shape

(34952, 1)

In [11]:
df_test.head()

                                                text
0  Came here with friends who live local. Enjoyed...
1  My window was smashed out in December of 2018,...
2  This is no In & Out burger. We finally drove t...
3  Just no on this company. Just don't do it.\nI ...
4  DC (During COVID) this place one of the places...